/**/vendor/
# comment composer.lock for production
/**/composer.lock

/**/etc/
/**/var/
/**/tmp/
/**/log-*/
/**/*.log
/**/*.cache
/**/*.compile
!/**/*.sample.php
!/**/.gitkeep
!/**/.vcskeep

/**/.DOF.HTTP.LOCK

/**/.php_cs.cache
/**/*.tags
/**/*.swp

/**/php.errors
/**/node_modules/
